<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>About Tactivity</h1>
		</div>
	</div>
	<div class="panel-body">
		<p>Hi my names Alex, I followed the steps to build One Month Rails Pinteresting app...which I have called Tactivity :)</p>
		<p>If you'd like to see how it's built, checkout the <a href="https://github.com/achower/tactivity">GitHub Repository</a></p>
	</div>
</div>

