<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tac.description %>
</p>

<% if @tac.user == current_user %>
<%= link_to 'Edit', edit_tac_path(@tac) %> |
<% end %>
<%= link_to 'Back', tacs_path %>
