// Place all the styles related to the tacs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tacs {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.delete-link a {
 color: #FE3136;
}

.delete-link a:active {
 color: #ce001b;
}

.delete-link a:hover {
 color: #ce001b;
}